// Typography
$font-family-body: 'Tahoma', sans-serif;

// Color
$bg-primary-color: #FFFFFF;
$bg-sub-color: #406eb8;
$bright-blue: #84abe8;
$dark-green: #059121;
$error-color: red;
$main-text-color: #303030;
$dark-gray: #1e1e1e;
$text-color-dark: #303030;
$menu-active-color: #284b82;
$cart-color: #FFC220;

// Global margin
$header-padding: 20px 30px;
$main-menu-padding: 0px 30px;
$header-height: 50px;
$bottom-height: 50px;
$side-bar-width: 50px;
$side-bar-width-toggling: 200px;



$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra: 20px;
$line-height-base: 1.2;